<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>

    </nav>
    <!-- TODO Adjust styling so every page is not centered -->
    <section class="center">
        <div class="child">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>

</html>