
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <a class="nav-item active" href="{{ url_for('main.index') }}">Home</a>
        {% if current_user.is_authenticated %}
        <a class="nav-item" href="{{ url_for('profile.profile_route') }}">Profile</a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a class="nav-item" href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a class="nav-item" href="{{ url_for('auth.signup') }}">Sign up</a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a class="nav-item" href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}    
    </nav>
    <!-- TODO Adjust styling so every page is not centered -->
    <section class="center">
        <div class="child">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>

</html>