{% extends "base.html" %}

{% block content %}
<div class="form">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="{{ messages[0][0] }}">
            {{ messages[0][1] }}
        </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/login" class="login-form">
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <!-- <label class="checkbox">
        <input type="checkbox">
        Remember me
    </label> -->
    <button>Login</button>
    <p class="message">Not registered? <a href="{{ url_for('auth.signup') }}">Create an account</a></p>
    </form>
</div>
{% endblock %}