{% extends "base.html" %}

{% block content %}
<h1> Hello {{ name }}! </h1>

<div class="form">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      <div class="{{ messages[0][0] }}">
          {{ messages[0][1] }}
      </div>
  {% endif %}
  {% endwith %}
  <form method="POST" action="/link" class="login-form">
  <input type="text" name="url" placeholder="https://google.com/"/>
  <button>Enter</button>
  </form>
</div>

<ul class="card-list">
  {% for link in links %}
    <li class="list-item">
      <div class="card ripple">
        <div class="gray">
          <header>
            <a href="{{ link.link }}">{{ link.link }}</a>
          </header>
        </div>
        <div class="stats">URL: https://localhost:5000/s/{{ link.new_link }}</div>
        <div class="stats">Clicks: {{ link.clicks }}</div>
      </div>
    </li>
  {% endfor %}
</ul>

{% endblock %}