{% extends "base.html" %}

{% block content %}
<div class="form">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="{{ messages[0][0] }}">
            {{ messages[0][1] }}
        </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/signup" class="login-form">
        <input type="text" name="name" placeholder="Name"/>
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="Password"/>
    <button>Sign up</button>
    <p class="message">Already registered? <a href="{{ url_for('auth.login') }}">Login</a></p>
    </form>
</div>
{% endblock %}